<section class="card">
  <h2>Add Book</h2>
  <form method="post" action="/books">
    <%- include("../partials/_book_form", { book: {} }) %>
    <button class="btn" type="submit">Create</button>
  </form>
</section>